@model Xpedia2.Models.ThingsToDo

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>ThingsToDo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
